body {
    margin: 0 auto;
    height: 100%;
    font-family: sans-serif;    
}

p,
li,
td,
tr,
div,
ul,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dias__semana {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.2rem;
}

.dias__semana-list {
    display: flex;
    justify-content: center;    
    gap: 10px;
    width: 100%;
    text-transform: uppercase;
    

}

.semana__list-item {
    padding: 5px 0;
    list-style: none;
}

.table__tarefas {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 0.2rem;
    text-transform: uppercase; 
}
td,
tr {
    border: 0.35px solid black;
    text-align: center;
    padding: 1.5px 5px;
}

.body__item {
    padding: 5px;
}

.body__item-dayOfWeek {
    background-color: aqua;
    max-width: max-content;
    border-radius: 5px;
    padding: 1px;
}

.daysWeek {
    border: none;
    display: flex;
    gap: 1px;
}