<button (click)="visualizarTexto()" >Vizualizar</button>
<p *ngIf="test">component2 works</p>

<ul *ngFor="let nome of nomes">
    <li>{{nome}}</li>
</ul>

<!-- switch -->
<select [(ngModel)]="linguagem">
    <option value="C#">C#</option>
    <option value="Java">Java</option>
    <option value="Phyton">Phyton</option>
</select>

<ul [ngSwitch]="linguagem">
    <li *ngSwitchCase="'C#'">C# é uma linguagem</li>
    <li *ngSwitchCase="'Java'">Java</li>
    <li *ngSwitchCase="'Phyton'">Python</li>
    <li *ngSwitchDefault>Selecione uma Linguagem</li>
</ul>